<section class="registrationEditSection authorize">
  <%= link_to root_path do %>
   <img class="modalLogo" src="<%= asset_path('header/logoNavMob.png') %>" alt="logo modal" />
  <% end %>

  <%= form_for @user, as: :user, url: :edit_profile, method: :put do |f| %>
    <div class="formWrapper">
      <%= f.text_field :name, autofocus: true, placeholder: 'Имя', required: true %>
      <%= f.email_field :email, placeholder: 'Электронная почта', required: true %>
      <% style = "background-image:url('#{@user.avatar.url}');" if @user.avatar? %>
      <div style="<%= style %>" class="avatar" id="user_avatar_preview">
      </div>
      <%= f.file_field :avatar, placeholder: "Аватар", style: 'display:none', accept: 'image/*' %>
      <%= f.text_field :phone, placeholder: 'Номер телефона' %>
      <%= f.text_field :moto, placeholder: 'Цель', required: true %>
      <%= f.text_field :city, placeholder: 'Город', required: true %>
      <div class="inputsWrapper">
        <% if @user.promocode %>
          <%= text_field_tag :promocode, @user.promocode.code, disabled: true, class: 'text-muted' %>
        <% else %>
          <%= text_field_tag :promocode, nil, placeholder: 'Промокод' %>
        <% end %>
        <%= f.text_field :age, placeholder: 'Возраст', required: true %>
      </div>
      <div class="genderSelect">
        <%= radio_button :user, :sex, :male, class: 'hidden' %>
        <label for="user_sex_male">M</label>
        <%= radio_button :user, :sex, :female, class: 'hidden' %>
        <label for="user_sex_female">Ж</label>
      </div>
       <%= render partial: 'users/errors', locals: { errors: flash[:new_solution_errors], info_messages: flash[:info_messages] } if flash[:modal] == 'editProfileModal' %>
      <%= f.submit "Сохранить", class: 'redBtn' %>
      <ul class="goToParth">
        <li>
          <a href="/profile">Личный кабинет</a>
        </li>
      </ul>
    </div>

  <% end %>

</section>
