<nav class="navBar">
  <nav class="wrapper">
  <%= link_to root_path do %>
    <div class="logo">
      <img  alt="logo" class="desctopLogo" src="<%= asset_path('header/logoNav.png') %>" name="Быть лучше" ui-sref="bbetter.landing"/>
      <img  alt="logo" class="mobileLogo" src="<%= asset_path('header/logoNavMob.png') %>" name="Быть лучше" ui-sref="bbetter.landing"/>
    </div>
  <% end %>
    <input type="checkbox" id="menuToggle">
    <label for="menuToggle" class="label-toggle">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </input>
  <ul>
    <a class="navWlaker" href="#fiveStep" >
      <li>
        5 шагов,<br/>
        чтобы быть<br/>
        лучше
            </li>
    </a>
    <a class="navWlaker" href="#contestSec">
      <li>
        Выиграть<br/>
        300 000
            </li>
    </a>
    <a class="navWlaker" href="#tariffSec">
      <li>
        Принять<br/>
        участие
            </li>
    </a>
    <a class="navWlaker" href="#beforeAfterSec">
      <li>
        Увидеть<br/>
        примеры
            </li>
    </a>
    <a class="navWlaker" href="#feedbackSec">
      <li>
        О тренерах
            </li>
    </a>
    <a class="navWlaker" href="#partnersSec">
      <li>
        Партнеры<br/>
        программы
            </li>
    </a>
  </ul>
  <ul class="right">
    <% if current_user %>
      <div class="dropdown right">
        <button class="dropdown-toggle" type="button" data-toggle="dropdown" style="
            margin-left: 0px;
            position: fixed;
            height: 70px;
            width: 101px;
            background-color: transparent;
            border-color: transparent;
        ">
          <a href="/profile"><button style="width:100px;" class="grayBtn menuLoginBtn"><%=current_user.name%></button></a>
          <ul class="dropdown-menu" data-no-turbolink="true">
            <li><a href="/profile">Кабинет</a></li>
            <li><a href="<%=edit_user_registration_path%>" >Редактировать</a></li>
            <li><a href="/forum" >Форум</a></li>
            <% if current_user.promocodes.present? %>
              <li><%= link_to 'Промокоды', promo_path %></li>
            <% end %>

            <li><%= link_to 'Выйти', :destroy_user_session, method: :delete %></li>
          </ul>
        </button>
      <% else %>

        <a href="<%=new_user_session_path %>" >Войти</a>
        <%= link_to new_user_registration_path do %>
          <button class="grayBtn" type="button" onclick="yaCounter38070020.reachGoal('registracija'); return true;" type="button">Регистрация</button>
        <% end %>
      <% end %>
    </ul>
  </nav>
</nav>
