<section class="modalSec">
  <div class="modal fade" id="regModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <img class="modalLogo" src="<%= asset_path('modal/infinityModal.png') %>" alt="logo modal" />
        </div>
        <div class="modal-body">
          <div class="formWrapper">
            <form onsubmit="thankU()">
              <div class="row">
                <div class="col-md-12">
                  <input type="text" name="" placeholder="Имя" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" name="" placeholder="Электронная почта" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" name="" placeholder="Город" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" name="" placeholder="Промокод" />
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <input type="text" name="" placeholder="Возраст" />
                </div>
                <div class="col-md-6 text-right checked_Male">
                  <input type="radio" id="radioMale" name="male" class="hide-radio" value="M" />
                  <label for="radioMale">M </label>
                  <input type="radio" id="radioFemale" checked="checked" name="male" class="hide-radio" value="Ж" />
                  <label for="radioFemale">Ж</label>
                </div>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-md-12">
                    <p class="redLabel">Заполните, пожалуйста, все поля!</p>
                    <p>В течении нескольких минут ожидайте письмо</p>
                    <button type="submit" name="submit" class="redBtn">Зарегистрироваться</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <!--  formWrapper -->
          <div class="thankU">
            <h2>Спасибо, Ваше письмо отправлено!</h2>
          </div>
        </div>
        <!-- modal-body -->
      </div>
    </div>
  </div>
  <div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-hidden="true" a>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <img class="modalLogo" src="<%= asset_path('modal/infinityModal.png') %>" alt="logo modal" />
        </div>
        <div class="modal-body">
          <div class="formWrapper">
            <%= form_for(@user, as: :user, url: session_path(:user)) do |f| %>
              <div class="row">
                <div class="col-md-12">
                  <%= f.email_field :email, autofocus: true, placeholder: 'Электронная почта' %>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <%= f.password_field :password, autocomplete: "off", placeholder: 'Пароль' %>
                </div>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-md-12">
                    <%= f.submit "Войти", class: 'redBtn' %>
                    <br/>
                    <br/>
                    <p data-toggle="modal" data-dismiss="modal"  data-target="#restorePasModal"> Забыли пароль?</p>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
        <!-- modal-body -->
      </div>
    </div>
  </div>
  <div class="modal fade" id="restorePasModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <img class="modalLogo" src="<%= asset_path('modal/infinityModal.png') %>" alt="logo modal" />
        </div>
        <div class="modal-body">
          <div class="formWrapper">
            <form>
              <div class="row">
                <div class="col-md-12">
                  <input type="text" name="" placeholder="Электронная почта" />
                </div>
              </div>
              <div class="modal-footer">
                <div class="row">
                  <div class="col-md-12">
                    <button type="submit" name="submit" class="redBtn" data-toggle="modal" data-dismiss="modal" data-target="#signInModal">Восстановить</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- modal-body -->
      </div>
    </div>
  </div>
</section>