<section class="lineSec" id="fiveStep">
  <h1>Тариф &laquo;<%= @current_tarrif.name %>&raquo;</h1>
</section>
<section class="promoPageSec">
	<div class="container">

		<div class="col-md-12 text-center">
			<h1>Промокоды</h1>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="textWrpper">
					<p>Вы можете пригласить друзей для прохождения тренировок. Для этого отправьте на почту или телефон промокод который надо ввести при регистрации для активации аккаунта.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
				  <table class="table">
					  <thead>
			            <tr>
			              <th>Код</th>
			              <th>Дата активации</th>
			              <th>Статус</th>
			              <th>Пользователь</th>
			              <th class="text-center"><i class="fa fa-plus-circle" aria-hidden="true"></i></th>
			            </tr>
			          </thead>
			          <tbody>
                  <% @promocodes.each do |promocode| %>
                    <tr>
                      <td><%= promocode.code %></td>
                      <td><%= promocode.activated_at.strftime('%d.%m.%Y') if promocode.activated_at %></td>
                      <td><%= promocode.activated_at ? 'Активирован' : 'Не активирован' %></td>
                      <td><%= "#{promocode.user.name} (#{promocode.user.email})" if promocode.user %></td>
                      <td class="text-center">
                        <% unless promocode.activated_at %>
                          <a data-toggle="modal" data-target="#promoModal" data-promocode="<%= promocode.code %>" class="redBtn">Пригласить</a>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
			           </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
	
</section>
