<section class="forumSec">
  <div class="headPage">
    <h1>Форум</h1>
    <ul class="tags">
      <li><%= paginate @posts %></li>
    </ul>
  </div>

  <div class="postItem">
    <div class="textWrap">
     <% @posts.each do |post| %>
      <h3><%= post.title %></h3>
      <h5><%= post.content.html_safe %></h5>
      <ul class="into">

      <li><a href="posts/<%=post.id%>"><i class="fa fa-commenting-o" aria-hidden="true"></i><%= post.comments.count if post.comments.present? %></a></li>
      <li><i class="fa fa-user" aria-hidden="true"></i><%= post.user.name if post.user.present? %></li>
      <li><%= post.updated_at.strftime("%H:%M")%></li>
      <%if current_user.has_role? :admin%>
        <li><%= link_to 'Изменить', edit_post_path(post) %></li>
        <li><%= link_to 'Удалить', post, method: :delete, data: { confirm: 'Вы уверены?' } %></li>
      <%end%>
      </ul>
    <% end %>

    </div>

  </div>

<%if current_user.has_role? :admin%>
  <div class="row">
    <div class="col-md-2 col-md-offset-5"><%= link_to 'Создать тему', new_post_path, class: "forumbtn" %></div>
  </div>
<%end%>

</section>




