<section class="forumSec">
  <div class="headPage">
    <ul class="tags">
      <li><a href='/forum'>Форум</a> > <a href="/topics/<%=params[:id]%>">Топики</a></li>
      <li><%= paginate @posts %></li>
    </ul>
  </div>

  <% if @posts.present? %>
  <% @posts.each do |post| %>
  <div class="postItem" >

    <div class="imgWrap" style="background-image:url('<%= post.user.avatar.url if post.user.present?%>');"></div>
    <div class="textWrap">

      <h3><a href="/topics/<%=params[:id]%>/posts/<%=post.id%>"><%= post.title.html_safe %></a></h3>
      <h5><a href="/topics/<%=params[:id]%>/posts/<%=post.id%>"><%= post.content.html_safe %></a></h5>
      <ul class="into">

      <li><a href="/topics/<%=params[:id]%>/posts/<%=post.id%>"><i class="fa fa-eye" aria-hidden="true"></i> Посмотреть ( <%= post.comments.count if post.comments.present? %> <i class="fa fa-commenting-o" aria-hidden="true"></i>)</a></li>
      <li><i class="fa fa-user" aria-hidden="true"></i><%= post.user.name if post.user.present? %></li>
      <li><%= post.updated_at.strftime("%H:%M")%></li>
      <%if current_user.has_role? :admin%>
        <li><%= link_to 'Изменить', "/topics/#{post.topic.id}/posts/#{post.id}/edit" %></li>

      <%end%>
      </ul>

    </div>

  </div>
  <% end %>
  <% end %>

<%if current_user.has_role? :admin%>
  <div class="row">
    <div class="wrapAddItem"><%= link_to 'Создать пост', new_post_path, class: "forumbtn" %></div>
  </div>
<%end%>

</section>




