<section class="forumSec">
  <div class="headPage">
    <h1><a href='/posts'>Форум</a></h1>
    <ul class="tags">
      <li><%= paginate @comments %></li>
    </ul>
  </div>

  <div class="postItem">
    <div class="imgWrap" style="background-image:url('<%= @post.user.avatar %>');"></div>
    <div class="textWrap">
      <h5>Автор поста:  <%=@post.user.name%></h5>
      <h3><%= @post.title %></h3>
      <p><%= @post.content %></p>
    </div>
    <% if current_user.has_role? :admin%>
    <ul class="settings">
      <li><%= link_to 'Редактировать', edit_post_path(@post) %></li>
      <li><%= link_to 'Вернуться', posts_path %></li>
    </ul>

<%end%>

  </div>

  <% @comments.each do |comment| %>
  <div class="postItem comment">
    <div class="imgWrap" style="background-image:url('<%= comment.user.avatar.url %>');"></div>
    <div class="textWrap">
      <h5><%= comment.content.html_safe %></h5>
      <ul class="into">
      <li><i class="fa fa-user" aria-hidden="true"></i><%= comment.user.name if comment.user.present? %></li>
      <li><%= comment.updated_at.strftime("%H:%M")%></li>
      </ul>
      <!-- ВАНЯ ДОБАВЬ ТУТ ПЛИЗ УДАЛЕНЕ И РЕДАКТИРОВАНИЕ КОММЕНТОВ;
         + юзай канканкан (KK) 
      %>-->

    </div>


  </div>
  <% end %>
<div class="postItem">
    <div class="textWrap">
     <%= form_for @comment, url: '/comment/'+ @post.id.to_s do |f|%>
     <div class="field">
     <%= f.text_area :content,placeholder: 'Оставьте комментарий',rows:'1'%>
     </div>
     <div class="actions">
     <%= f.submit "Комментировать", class:"redBtn" %>
     </div>
  <%end%>
  </div>
</div>


</section>
  


