<section class="forumSec">
  <div class="headPage">
    <p>Разделы</p>
    <p><%= paginate @topics %></p>
  </div>

  <% if @topics.present? %>
  <% @topics.each do |topic| %>
  <div class="postItem" >

    <div class="imgWrap" style="background-image:url('<%= topic.user.avatar.url if topic.user.present?%>');"></div>
    <div class="textWrap">

      <h3><a href="topics/<%=topic.id%>"><%= topic.title %></a></h3>
      <ul class="into"
      <li><%= topic.updated_at.strftime("%H:%M")%></li>

      </ul>

    </div>

  </div>
  <% end %>
  <% end %>


</section>




