<!DOCTYPE html>
<html>
  <head>
    <title>Bbetter</title>
    <%= stylesheet_link_tag    'home', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'gtm' %>
    <%= render 'header' %>
    <%= yield %>
    <%= render 'modals' %>
    <%= render 'footer' %>
    <%= javascript_include_tag 'home', 'data-turbolinks-track' => true, 'data-turbolinks-eval' => false %>
    <%= yield :js %>
    <% if flash[:modal] %>
      <script>
        $("#<%= flash[:modal] %>").modal('show')
      </script>
    <% end %>
  </body>
</html>